<a href="https://colab.research.google.com/github/BigDavies/ap5-demo-app/blob/master/Student_info_PySpark_Dataframe_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Install Java Development kit for Spark
!apt-get install openjdk-8-jdk

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java libatk-wrapper-java-jni libfontenc1
  libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin libgtk2.0-common libice-dev librsvg2-common
  libsm-dev libxkbfile1 libxt-dev libxtst6 libxxf86dga1 openjdk-8-jdk-headless openjdk-8-jre
  openjdk-8-jre-headless x11-utils
Suggested packages:
  gvfs libice-doc libsm-doc libxt-doc openjdk-8-demo openjdk-8-source visualvm libnss-mdns
  fonts-nanum fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei fonts-wqy-zenhei
  fonts-indic mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java libatk-wrapper-java-jni libfontenc1
  libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin libgtk2.0-common libice-dev librsvg2-common
  libsm-dev libxkbfile1 libxt-dev libxtst6 libxxf86dga1 openjdk-8-jdk openjdk-8-jdk-headless
  openjdk-8-jre openjdk-8-jre-headless x11-utils
0 upgraded, 22 newly installed, 0 to remove and 45 not upgraded.
Need to get 50.1 MB of archives.
After this operation, 169 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-core all 2.37-2build1 [1,041 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-extra all 2.37-2build1 [2,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfontenc1 amd64 1:1.1.4-1build3 [14.7 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxkbfile1 amd64 1:1.1.0-1build3 [71.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxtst6 amd64 2:1.2.3-1build4 [13.4 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxxf86dga1 amd64 2:1.1.5-0ubuntu3 [12.6 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 x11-utils amd64 7.7+5build2 [206 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java all 0.38.0-5build1 [53.1 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java-jni amd64 0.38.0-5build1 [49.0 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgtk2.0-common all 2.24.33-2ubuntu2 [125 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgtk2.0-0 amd64 2.24.33-2ubuntu2 [2,037 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgail18 amd64 2.24.33-2ubuntu2 [15.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgail-common amd64 2.24.33-2ubuntu2 [132 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgtk2.0-bin amd64 2.24.33-2ubuntu2 [7,932 B]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libice-dev amd64 2:1.0.10-1build2 [51.4 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 librsvg2-common amd64 2.52.5+dfsg-3ubuntu0.2 [17.7 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libsm-dev amd64 2:1.2.3-1build2 [18.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxt-dev amd64 1:1.2.1-1 [396 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 openjdk-8-jre-headless amd64 8u402-ga-2ubuntu1~22.04 [30.8 MB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 openjdk-8-jre amd64 8u402-ga-2ubuntu1~22.04 [75.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 openjdk-8-jdk-headless amd64 8u402-ga-2ubuntu1~22.04 [8,873 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 openjdk-8-jdk amd64 8u402-ga-2ubuntu1~22.04 [4,068 kB]
Fetched 50.1 MB in 6s (8,142 kB/s)
Selecting previously unselected package fonts-dejavu-core.
(Reading database ... 131015 files and directories currently installed.)
Preparing to unpack .../00-fonts-dejavu-core_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-core (2.37-2build1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../01-fonts-dejavu-extra_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-2build1) ...
Selecting previously unselected package libfontenc1:amd64.
Preparing to unpack .../02-libfontenc1_1%3a1.1.4-1build3_amd64.deb ...
Unpacking libfontenc1:amd64 (1:1.1.4-1build3) ...
Selecting previously unselected package libxkbfile1:amd64.
Preparing to unpack .../03-libxkbfile1_1%3a1.1.0-1build3_amd64.deb ...
Unpacking libxkbfile1:amd64 (1:1.1.0-1build3) ...
Selecting previously unselected package libxtst6:amd64.
Preparing to unpack .../04-libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package libxxf86dga1:amd64.
Preparing to unpack .../05-libxxf86dga1_2%3a1.1.5-0ubuntu3_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../06-x11-utils_7.7+5build2_amd64.deb ...
Unpacking x11-utils (7.7+5build2) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../07-libatk-wrapper-java_0.38.0-5build1_all.deb ...
Unpacking libatk-wrapper-java (0.38.0-5build1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../08-libatk-wrapper-java-jni_0.38.0-5build1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Selecting previously unselected package libgtk2.0-common.
Preparing to unpack .../09-libgtk2.0-common_2.24.33-2ubuntu2_all.deb ...
Unpacking libgtk2.0-common (2.24.33-2ubuntu2) ...
Selecting previously unselected package libgtk2.0-0:amd64.
Preparing to unpack .../10-libgtk2.0-0_2.24.33-2ubuntu2_amd64.deb ...
Unpacking libgtk2.0-0:amd64 (2.24.33-2ubuntu2) ...
Selecting previously unselected package libgail18:amd64.
Preparing to unpack .../11-libgail18_2.24.33-2ubuntu2_amd64.deb ...
Unpacking libgail18:amd64 (2.24.33-2ubuntu2) ...
Selecting previously unselected package libgail-common:amd64.
Preparing to unpack .../12-libgail-common_2.24.33-2ubuntu2_amd64.deb ...
Unpacking libgail-common:amd64 (2.24.33-2ubuntu2) ...
Selecting previously unselected package libgtk2.0-bin.
Preparing to unpack .../13-libgtk2.0-bin_2.24.33-2ubuntu2_amd64.deb ...
Unpacking libgtk2.0-bin (2.24.33-2ubuntu2) ...
Selecting previously unselected package libice-dev:amd64.
Preparing to unpack .../14-libice-dev_2%3a1.0.10-1build2_amd64.deb ...
Unpacking libice-dev:amd64 (2:1.0.10-1build2) ...
Selecting previously unselected package librsvg2-common:amd64.
Preparing to unpack .../15-librsvg2-common_2.52.5+dfsg-3ubuntu0.2_amd64.deb ...
Unpacking librsvg2-common:amd64 (2.52.5+dfsg-3ubuntu0.2) ...
Selecting previously unselected package libsm-dev:amd64.
Preparing to unpack .../16-libsm-dev_2%3a1.2.3-1build2_amd64.deb ...
Unpacking libsm-dev:amd64 (2:1.2.3-1build2) ...
Selecting previously unselected package libxt-dev:amd64.
Preparing to unpack .../17-libxt-dev_1%3a1.2.1-1_amd64.deb ...
Unpacking libxt-dev:amd64 (1:1.2.1-1) ...
Selecting previously unselected package openjdk-8-jre-headless:amd64.
Preparing to unpack .../18-openjdk-8-jre-headless_8u402-ga-2ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u402-ga-2ubuntu1~22.04) ...
Selecting previously unselected package openjdk-8-jre:amd64.
Preparing to unpack .../19-openjdk-8-jre_8u402-ga-2ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jre:amd64 (8u402-ga-2ubuntu1~22.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../20-openjdk-8-jdk-headless_8u402-ga-2ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u402-ga-2ubuntu1~22.04) ...
Selecting previously unselected package openjdk-8-jdk:amd64.
Preparing to unpack .../21-openjdk-8-jdk_8u402-ga-2ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jdk:amd64 (8u402-ga-2ubuntu1~22.04) ...
Setting up libice-dev:amd64 (2:1.0.10-1build2) ...
Setting up libsm-dev:amd64 (2:1.2.3-1build2) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Setting up libfontenc1:amd64 (1:1.1.4-1build3) ...
Setting up libxt-dev:amd64 (1:1.2.1-1) ...
Setting up openjdk-8-jre-headless:amd64 (8u402-ga-2ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up fonts-dejavu-core (2.37-2build1) ...
Setting up librsvg2-common:amd64 (2.52.5+dfsg-3ubuntu0.2) ...
Setting up fonts-dejavu-extra (2.37-2build1) ...
Setting up libgtk2.0-common (2.24.33-2ubuntu2) ...
Setting up libxkbfile1:amd64 (1:1.1.0-1build3) ...
Setting up libgtk2.0-0:amd64 (2.24.33-2ubuntu2) ...
Setting up openjdk-8-jdk-headless:amd64 (8u402-ga-2ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
Setting up libgail18:amd64 (2.24.33-2ubuntu2) ...
Setting up libgtk2.0-bin (2.24.33-2ubuntu2) ...
Setting up x11-utils (7.7+5build2) ...
Setting up libatk-wrapper-java (0.38.0-5build1) ...
Setting up libgail-common:amd64 (2.24.33-2ubuntu2) ...
Setting up libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Setting up openjdk-8-jre:amd64 (8u402-ga-2ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/policytool to provide /usr/bin/policytool (policytool) in auto mode
Setting up openjdk-8-jdk:amd64 (8u402-ga-2ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/appletviewer to provide /usr/bin/appletviewer (appletviewer) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libgdk-pixbuf-2.0-0:amd64 (2.42.8+dfsg-1ubuntu0.2) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...

In [2]:
import os
#Set the JAVA_HOME env variable
os.environ["JAVA_HOME"]="/usr/lib/jvm/java-8-openjdk-amd64"

In [3]:
#Current working directory
!pwd

/content

In [4]:
!echo $JAVA_HOME

/usr/lib/jvm/java-8-openjdk-amd64

In [5]:
#Install PySpark with latest version
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=5f4a783e8495ff10919138244c6ad038251dfb793e4683021091d43ced03c239
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [6]:
#mount your drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
df = spark.read.csv('/content/drive/MyDrive/student_info.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|_c0|   _c1|             _c2|   _c3|   _c4|  _c5|                 _c6|
+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [10]:
type(df)

pyspark.sql.dataframe.DataFrame

In [11]:
df=spark.read.option('header',True).csv('/content/drive/MyDrive/student_info.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [12]:
#displays structure of dataframe
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [13]:
df=spark.read.option('header',True).option('inferSchema',True).csv('/content/drive/MyDrive/student_info.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [14]:
#displays structure of dataframe
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [15]:
df=spark.read.options(header=True,inferSchema=True).csv('/content/drive/MyDrive/student_info.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [16]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

my_schema = StructType([
                    StructField("age", IntegerType(), True),
                    StructField("gender", StringType(), True),
                    StructField("name", StringType(), True),
                    StructField("course", StringType(), True),
                    StructField("roll", StringType(), True),
                    StructField("marks", IntegerType(), True),
                    StructField("email", StringType(), True)
])

In [17]:
df=spark.read.options(header=True).schema(my_schema).csv('/content/drive/MyDrive/student_info.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [18]:
from pyspark.sql.functions import col, lit

In [19]:
#data type casting
df = df.withColumn("roll", col("roll").cast("String"))

In [20]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [21]:
#update column value
df = df.withColumn("marks", col('marks') + 10)
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [22]:
#create a column percentage by dividing column marks by 100
df = df.withColumn("percentage", col('marks') / 100)
df.show()

+---+------+----------------+------+------+-----+--------------------+----------+
|age|gender|            name|course|  roll|marks|               email|percentage|
+---+------+----------------+------+------+-----+--------------------+----------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|      0.69|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|      0.72|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|      0.55|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|      0.39|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|      0.51|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|      0.42|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|      0.79|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|      0.95|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|      0.74|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|      0.61|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|      0.45|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|      0.63|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|      0.37|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|      0.65|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|      0.52|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|      0.37|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|      0.46|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|      0.32|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|      0.66|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|      0.72|
+---+------+----------------+------+------+-----+--------------------+----------+
only showing top 20 rows

In [23]:
#add a new column
df = df.withColumn("country name", lit("United States"))
df.show()

+---+------+----------------+------+------+-----+--------------------+----------+-------------+
|age|gender|            name|course|  roll|marks|               email|percentage| country name|
+---+------+----------------+------+------+-----+--------------------+----------+-------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|      0.72|United States|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|      0.55|United States|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|      0.51|United States|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|      0.42|United States|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|      0.79|United States|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|      0.95|United States|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|      0.74|United States|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|      0.61|United States|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|      0.45|United States|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|      0.65|United States|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|      0.52|United States|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|      0.37|United States|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|      0.46|United States|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|      0.32|United States|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|      0.66|United States|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|      0.72|United States|
+---+------+----------------+------+------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [24]:
# rename a column
df = df.withColumnRenamed("gender","sex").withColumnRenamed("roll", "roll number")
df.show()

+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|            name|course|roll number|marks|               email|percentage| country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|United States|
| 28|  Male|  Celeste Lollis|    PF|      21267|   55|Jeannetta Golden_...|      0.55|United States|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|United States|
| 28|  Male|  Margene Moores|   MVC|      52771|   42|Toshiko Hillyard_...|      0.42|United States|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|United States|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|United States|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   74|Nicole Harwood_Cl...|      0.74|United States|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|United States|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|United States|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|United States|
| 29|  Male|     Neda Briski|    PF|     141770|   52|Margene Moores_Mi...|      0.52|United States|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|United States|
| 29|  Male|  Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|United States|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|United States|
| 29|  Male|   Santa Kerfien|    PF|     182129|   66|Judie Chipps_Tary...|      0.66|United States|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [25]:
df.select(col("name").alias("Full Name")).show()

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

In [26]:
df.show()

+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|            name|course|roll number|marks|               email|percentage| country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|United States|
| 28|  Male|  Celeste Lollis|    PF|      21267|   55|Jeannetta Golden_...|      0.55|United States|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|United States|
| 28|  Male|  Margene Moores|   MVC|      52771|   42|Toshiko Hillyard_...|      0.42|United States|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|United States|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|United States|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   74|Nicole Harwood_Cl...|      0.74|United States|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|United States|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|United States|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|United States|
| 29|  Male|     Neda Briski|    PF|     141770|   52|Margene Moores_Mi...|      0.52|United States|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|United States|
| 29|  Male|  Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|United States|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|United States|
| 29|  Male|   Santa Kerfien|    PF|     182129|   66|Judie Chipps_Tary...|      0.66|United States|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [27]:
#Filter
df.filter(df.course == "DB").show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|             name|course|roll number|marks|               email|percentage| country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|  Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|     Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|   Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|   Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|United States|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|United States|
| 28|  Male|    Kizzy Brenner|    DB|     381712|   46|Paris Hutton_Kena...|      0.46|United States|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|United States|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|United States|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|United States|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|United States|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|United States|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|United States|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|United States|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|United States|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|United States|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|United States|
| 28|  Male|   Nicole Harwood|    DB|    1211495|   38|Melani Engberg_Jc...|      0.38|United States|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|United States|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [28]:
df.filter(col("course") == "DB").show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|             name|course|roll number|marks|               email|percentage| country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|  Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|     Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|   Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|   Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|United States|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|United States|
| 28|  Male|    Kizzy Brenner|    DB|     381712|   46|Paris Hutton_Kena...|      0.46|United States|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|United States|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|United States|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|United States|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|United States|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|United States|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|United States|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|United States|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|United States|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|United States|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|United States|
| 28|  Male|   Nicole Harwood|    DB|    1211495|   38|Melani Engberg_Jc...|      0.38|United States|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|United States|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [29]:
df.filter( (df.course == "DB") & (df.marks > 50) ).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|             name|course|roll number|marks|               email|percentage| country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|  Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|United States|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|United States|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|United States|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|United States|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|United States|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|United States|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|United States|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|United States|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|United States|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|United States|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|United States|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|United States|
| 29|Female|Leontine Phillips|    DB|    1432252|   77|Billi Clore_Shery...|      0.77|United States|
| 28|Female|  Gonzalo Ferebee|    DB|    1451513|   79|Claude Panos_Tame...|      0.79|United States|
| 28|  Male|  Marylee Capasso|    DB|    1611411|  106|Annika Hoffman_Lo...|      1.06|United States|
| 29|Female|Michelle Ruggiero|    DB|    1642509|   55|Hubert Oliveras_M...|      0.55|United States|
| 29|  Male|   Alberta Freund|    DB|    1671638|  108|Clementina Menke_...|      1.08|United States|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [30]:
courses = ["DB", "Cloud", "OOP", "DSA"]
df.filter(df.course.isin(courses)).show()

+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|            name|course|roll number|marks|               email|percentage| country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|United States|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|United States|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|United States|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|United States|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|United States|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|United States|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|United States|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|United States|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
| 28|Female|       Kena Wild| Cloud|     221750|   70|Mitzi Seldon_Jenn...|       0.7|United States|
| 28|Female|    Jc Andrepont|   DSA|     232060|   68|Billi Clore_Abram...|      0.68|United States|
| 29|Female|     Anna Santos| Cloud|     242254|   78|Jc Andrepont_Hube...|      0.78|United States|
| 28|Female|  Alberta Freund|   OOP|     251805|   93|Annika Hoffman_Sh...|      0.93|United States|
| 28|Female|  Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|United States|
| 29|Female|    Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|United States|
| 29|Female|    Cheri Kenney| Cloud|     281408|   53|Annika Hoffman_Me...|      0.53|United States|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [31]:
df.filter(df.course.startswith("DS")).show()

+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|            name|course|roll number|marks|               email|percentage| country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|United States|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|United States|
| 28|Female|    Jc Andrepont|   DSA|     232060|   68|Billi Clore_Abram...|      0.68|United States|
| 29|Female|    Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|United States|
| 28|Female|  Dustin Feagins|   DSA|     291984|   92|Abram Nagao_Kena ...|      0.92|United States|
| 28|Female|Mickey Cortright|   DSA|     342003|   54|Mitzi Seldon_Jean...|      0.54|United States|
| 29|Female|     Anna Santos|   DSA|     411479|   52|Kena Wild_Mitzi S...|      0.52|United States|
| 28|Female|  Maybell Duguay|   DSA|     452141|   39|Leontine Phillips...|      0.39|United States|
| 29|Female|    Paris Hutton|   DSA|     492159|   70|Nicole Harwood_Ma...|       0.7|United States|
| 29|  Male|  Celeste Lollis|   DSA|     562065|   95|Jc Andrepont_Mela...|      0.95|United States|
| 29|  Male|  Maybell Duguay|   DSA|     592061|   93|Eda Neathery_Jenn...|      0.93|United States|
| 28|  Male|    Mitzi Seldon|   DSA|     622981|   55|Lawanda Wohlwend_...|      0.55|United States|
| 28|Female|  Jenna Montague|   DSA|     691564|   36|Mitzi Seldon_Sebr...|      0.36|United States|
| 28|Female|  Celeste Lollis|   DSA|     731879|   86|Hubert Oliveras_G...|      0.86|United States|
| 28|  Male|  Sheryll Towler|   DSA|     831562|   69|Kena Wild_Gonzalo...|      0.69|United States|
| 28|Female|  Sheryll Towler|   DSA|     871967|   74|Michelle Ruggiero...|      0.74|United States|
| 28|  Male|  Margene Moores|   DSA|     892010|  103|Anna Santos_Naoma...|      1.03|United States|
| 28|Female|  Somer Stoecker|   DSA|     901958|   74|Kizzy Brenner_Jc ...|      0.74|United States|
| 28|Female|Lawanda Wohlwend|   DSA|     951686|   70|Loris Crossett_Ni...|       0.7|United States|
| 28|  Male|  Jenna Montague|   DSA|    1002103|   46|Melani Engberg_Hu...|      0.46|United States|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [32]:
df.filter(df.course.endswith("se")).show()

+---+---+----+------+-----------+-----+-----+----------+------------+
|age|sex|name|course|roll number|marks|email|percentage|country name|
+---+---+----+------+-----------+-----+-----+----------+------------+
+---+---+----+------+-----------+-----+-----+----------+------------+

In [33]:
df.filter(df.course.contains("se")).show()

+---+---+----+------+-----------+-----+-----+----------+------------+
|age|sex|name|course|roll number|marks|email|percentage|country name|
+---+---+----+------+-----------+-----+-----+----------+------------+
+---+---+----+------+-----------+-----+-----+----------+------------+

In [34]:
df.select('sex').distinct().show()

+------+
|   sex|
+------+
|Female|
|  Male|
+------+

In [35]:
df.select('age').distinct().show()

+---+
|age|
+---+
| 28|
| 29|
+---+

In [36]:
#aggregate
df.filter(df.course == "DB").count()

157

In [37]:
df.sort(df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|             name|course|roll number|marks|               email|percentage| country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|United States|
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|United States|
| 28|  Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|United States|
| 29|  Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|United States|
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|United States|
| 29|  Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|United States|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|United States|
| 29|  Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|United States|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|United States|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|United States|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|United States|
| 28|  Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|United States|
| 28|  Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|United States|
| 29|  Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|United States|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|United States|
| 29|  Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|United States|
| 28|  Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|United States|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|United States|
| 28|  Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|United States|
| 29|  Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|United States|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [38]:
df.sort(df.age,df.marks).show()

+---+------+---------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|           name|course|roll number|marks|               email|percentage| country name|
+---+------+---------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|   Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|United States|
| 28|Female| Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|United States|
| 28|  Male|Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|United States|
| 28|Female|Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|United States|
| 28|  Male|    Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|United States|
| 28|  Male|  Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|United States|
| 28|  Male| Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|United States|
| 28|  Male|    Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|United States|
| 28|Female|   Cheri Kenney| Cloud|    2281771|   32|Tamera Blakley_Ab...|      0.32|United States|
| 28|Female|    Donna Yerby| Cloud|    4392575|   32|Leontine Phillips...|      0.32|United States|
| 28|  Male|   Eda Neathery|    PF|    5082430|   32|Leontine Phillips...|      0.32|United States|
| 28|  Male|    Anna Santos|    DB|    9772185|   32|Kizzy Brenner_Ann...|      0.32|United States|
| 28|  Male|  Santa Kerfien|   MVC|    1992202|   33|Annika Hoffman_Ta...|      0.33|United States|
| 28|Female|    Neda Briski|    PF|    3251377|   33|Kizzy Brenner_Mic...|      0.33|United States|
| 28|Female| Bonita Higuera| Cloud|    6061881|   33|Dustin Feagins_La...|      0.33|United States|
| 28|  Male|Gonzalo Ferebee|   OOP|    7162059|   33|Melani Engberg_Me...|      0.33|United States|
| 28|Female|  Santa Kerfien|   OOP|    3931948|   34|Jeannetta Golden_...|      0.34|United States|
| 28|  Male| Bonita Higuera| Cloud|    1401526|   34|Jc Andrepont_Cher...|      0.34|United States|
| 28|  Male|    Anna Santos|   OOP|    1621905|   34|Elenore Choy_Sant...|      0.34|United States|
| 28|  Male| Alberta Freund| Cloud|    1802934|   34|Maybell Duguay_Pa...|      0.34|United States|
+---+------+---------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [39]:
df.orderBy(df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|             name|course|roll number|marks|               email|percentage| country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|United States|
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|United States|
| 28|  Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|United States|
| 29|  Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|United States|
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|United States|
| 29|  Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|United States|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|United States|
| 29|  Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|United States|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|United States|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|United States|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|United States|
| 28|  Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|United States|
| 28|  Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|United States|
| 29|  Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|United States|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|United States|
| 29|  Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|United States|
| 28|  Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|United States|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|United States|
| 28|  Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|United States|
| 29|  Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|United States|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [40]:
df.orderBy(df.sex,df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|             name|course|roll number|marks|               email|percentage| country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|United States|
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|United States|
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|United States|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|United States|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|United States|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|United States|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|United States|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|United States|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|United States|
| 29|Female|   Maybell Duguay|   MVC|    1102536|   32|Somer Stoecker_Ma...|      0.32|United States|
| 28|Female|     Cheri Kenney| Cloud|    2281771|   32|Tamera Blakley_Ab...|      0.32|United States|
| 28|Female|      Donna Yerby| Cloud|    4392575|   32|Leontine Phillips...|      0.32|United States|
| 29|Female|      Niki Klimek|    PF|     211508|   33|Cordie Harnois_Ju...|      0.33|United States|
| 28|Female|   Bonita Higuera| Cloud|    6061881|   33|Dustin Feagins_La...|      0.33|United States|
| 28|Female|      Neda Briski|    PF|    3251377|   33|Kizzy Brenner_Mic...|      0.33|United States|
| 29|Female|     Naoma Fritts|   DSA|    4582052|   33|Kena Wild_Jenna M...|      0.33|United States|
| 29|Female|  Hubert Oliveras|   DSA|    5542363|   33|Priscila Tavernie...|      0.33|United States|
| 29|Female|   Sheryll Towler|   OOP|    6672653|   33|Jenna Montague_Sa...|      0.33|United States|
| 29|Female|      Abram Nagao|    PF|    9711154|   33|Judie Chipps_Naom...|      0.33|United States|
| 29|Female|   Jenna Montague|    PF|    9991617|   33|Anna Santos_Jenna...|      0.33|United States|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [41]:
df.orderBy(df.marks.desc()).show()

+---+------+------------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|              name|course|roll number|marks|               email|percentage| country name|
+---+------+------------------+------+-----------+-----+--------------------+----------+-------------+
| 28|  Male|       Niki Klimek|   DSA|    5172507|  109|Marylee Capasso_E...|      1.09|United States|
| 28|  Male|    Loris Crossett|   OOP|    9692316|  109|Judie Chipps_Mich...|      1.09|United States|
| 29|  Male|    Maybell Duguay|    PF|     701486|  109|Clementina Menke_...|      1.09|United States|
| 29|Female|      Eda Neathery|    PF|    9222608|  109|Kena Wild_Lawanda...|      1.09|United States|
| 28|Female|      Judie Chipps|   OOP|    5451977|  109|Tamera Blakley_Mi...|      1.09|United States|
| 29|Female|Priscila Tavernier|   OOP|    3902993|  109|Celeste Lollis_Bi...|      1.09|United States|
| 29|Female|      Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|United States|
| 29|  Male| Michelle Ruggiero|   DSA|    1022971|  109|Cordie Harnois_Cl...|      1.09|United States|
| 28|Female|    Melani Engberg| Cloud|    1872667|  109|Alberta Freund_Ni...|      1.09|United States|
| 28|Female|    Jalisa Swenson|   MVC|    5712033|  109|Dustin Feagins_Hu...|      1.09|United States|
| 29|  Male|   Gonzalo Ferebee|   MVC|    5772006|  109|Niki Klimek_Marge...|      1.09|United States|
| 29|Female|    Alberta Freund|   DSA|    6071316|  109|Dustin Feagins_Se...|      1.09|United States|
| 29|  Male|    Melani Engberg|    DB|    2941257|  108|Claude Panos_Kena...|      1.08|United States|
| 28|  Male|    Jenna Montague|   OOP|    3331161|  108|Leontine Phillips...|      1.08|United States|
| 29|Female|  Lawanda Wohlwend| Cloud|    7222880|  108|Sheryll Towler_An...|      1.08|United States|
| 28|  Male|  Clementina Menke|   DSA|    2772189|  108|Donna Yerby_Judie...|      1.08|United States|
| 28|  Male|    Loris Crossett|   OOP|    8172914|  108|Paris Hutton_Pari...|      1.08|United States|
| 28|Female|      Judie Chipps|   DSA|    4631068|  108|Toshiko Hillyard_...|      1.08|United States|
| 28|  Male|    Dustin Feagins|    DB|    8871049|  108|Jenna Montague_Cl...|      1.08|United States|
| 29|  Male|    Alberta Freund|    DB|    1671638|  108|Clementina Menke_...|      1.08|United States|
+---+------+------------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [42]:
df.orderBy(df.sex.desc(),df.marks.asc()).show()

+---+----+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age| sex|             name|course|roll number|marks|               email|percentage| country name|
+---+----+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 29|Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|United States|
| 28|Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|United States|
| 29|Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|United States|
| 29|Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|United States|
| 29|Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|United States|
| 28|Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|United States|
| 28|Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|United States|
| 28|Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|United States|
| 29|Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|United States|
| 28|Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|United States|
| 29|Male|   Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|United States|
| 29|Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|United States|
| 29|Male|   Margene Moores|   DSA|    3942449|   32|Tijuana Kropf_Nao...|      0.32|United States|
| 28|Male|     Eda Neathery|    PF|    5082430|   32|Leontine Phillips...|      0.32|United States|
| 29|Male|     Paris Hutton|   DSA|    9702829|   32|Hubert Oliveras_C...|      0.32|United States|
| 28|Male|      Anna Santos|    DB|    9772185|   32|Kizzy Brenner_Ann...|      0.32|United States|
| 29|Male|   Maybell Duguay|   DSA|    4441473|   33|Billi Clore_Cleme...|      0.33|United States|
| 28|Male|    Santa Kerfien|   MVC|    1992202|   33|Annika Hoffman_Ta...|      0.33|United States|
| 29|Male|   Tamera Blakley|   DSA|    2661934|   33|Alberta Freund_Ti...|      0.33|United States|
| 29|Male|  Sebrina Maresca|    PF|    2712040|   33|Jeannetta Golden_...|      0.33|United States|
+---+----+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [43]:
df.groupBy('sex').count()

DataFrame[sex: string, count: bigint]

In [44]:
df.groupBy('sex').count().show()

+------+-----+
|   sex|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

In [45]:
df.groupBy('course').count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [46]:
df.groupBy('sex').max('marks').show()

+------+----------+
|   sex|max(marks)|
+------+----------+
|Female|       109|
|  Male|       109|
+------+----------+

In [47]:
df.groupBy('sex').min('marks').show()

+------+----------+
|   sex|min(marks)|
+------+----------+
|Female|        30|
|  Male|        30|
+------+----------+

In [48]:
df.groupBy('sex').avg('marks').show()

+------+-----------------+
|   sex|       avg(marks)|
+------+-----------------+
|Female|69.15369261477046|
|  Male| 71.0440881763527|
+------+-----------------+

In [49]:
# df.createTempView("tiny_df")
df.createOrReplaceTempView("student_data")
result=spark.sql("SELECT * FROM student_data")
result.show()

+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|            name|course|roll number|marks|               email|percentage| country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|United States|
| 28|  Male|  Celeste Lollis|    PF|      21267|   55|Jeannetta Golden_...|      0.55|United States|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|United States|
| 28|  Male|  Margene Moores|   MVC|      52771|   42|Toshiko Hillyard_...|      0.42|United States|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|United States|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|United States|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   74|Nicole Harwood_Cl...|      0.74|United States|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|United States|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|United States|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|United States|
| 29|  Male|     Neda Briski|    PF|     141770|   52|Margene Moores_Mi...|      0.52|United States|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|United States|
| 29|  Male|  Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|United States|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|United States|
| 29|  Male|   Santa Kerfien|    PF|     182129|   66|Judie Chipps_Tary...|      0.66|United States|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [50]:
# %sql SELECT * FROM tiny_df (code for databricks)
spark.sql("SELECT*FROM student_data WHERE name=='Hubert Oliveras'").show()

+---+------+---------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|           name|course|roll number|marks|               email|percentage| country name|
+---+------+---------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 28|  Male|Hubert Oliveras|   OOP|     351719|   73|Lawanda Wohlwend_...|      0.73|United States|
| 29|  Male|Hubert Oliveras|   MVC|     672451|   38|Annika Hoffman_Mi...|      0.38|United States|
| 28|Female|Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|United States|
| 29|Female|Hubert Oliveras|   DSA|    1041483|   38|Billi Clore_Santa...|      0.38|United States|
| 29|Female|Hubert Oliveras| Cloud|    1392791|  104|Anna Santos_Alber...|      1.04|United States|
| 28|  Male|Hubert Oliveras|    PF|    1521724|  101|Eda Neathery_Jean...|      1.01|United States|
| 28|  Male|Hubert Oliveras| Cloud|    3632954|   44|Ernest Rossbach_A...|      0.44|United States|
| 29|  Male|Hubert Oliveras| Cloud|    4282001|   80|Billi Clore_Eleno...|       0.8|United States|
| 28|Female|Hubert Oliveras|   DSA|    5342918|   92|Judie Chipps_Anni...|      0.92|United States|
| 29|Female|Hubert Oliveras|   DSA|    5542363|   33|Priscila Tavernie...|      0.33|United States|
| 29|  Male|Hubert Oliveras|   OOP|    7102834|   54|Hubert Oliveras_C...|      0.54|United States|
| 28|  Male|Hubert Oliveras|   MVC|    7512833|   57|Loris Crossett_Je...|      0.57|United States|
| 29|  Male|Hubert Oliveras| Cloud|    8191045|   39|Toshiko Hillyard_...|      0.39|United States|
| 29|  Male|Hubert Oliveras|    DB|    9822797|   61|Lawanda Wohlwend_...|      0.61|United States|
+---+------+---------------+------+-----------+-----+--------------------+----------+-------------+

In [51]:
# %sql SELECT * FROM tiny_df where course=='DB'
spark.sql("SELECT * FROM student_data where course=='DB'").show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|             name|course|roll number|marks|               email|percentage| country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|  Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|     Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|   Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|   Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|United States|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|United States|
| 28|  Male|    Kizzy Brenner|    DB|     381712|   46|Paris Hutton_Kena...|      0.46|United States|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|United States|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|United States|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|United States|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|United States|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|United States|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|United States|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|United States|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|United States|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|United States|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|United States|
| 28|  Male|   Nicole Harwood|    DB|    1211495|   38|Melani Engberg_Jc...|      0.38|United States|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|United States|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [52]:
# %sql SELECT * FROM tiny_df where course=='DB' or course=='Cloud'
spark.sql("SELECT * FROM student_data where course=='DB' or course=='Cloud'").show()

+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|            name|course|roll number|marks|               email|percentage| country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|United States|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|United States|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|United States|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|United States|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|United States|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|United States|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|United States|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|United States|
| 28|Female|       Kena Wild| Cloud|     221750|   70|Mitzi Seldon_Jenn...|       0.7|United States|
| 29|Female|     Anna Santos| Cloud|     242254|   78|Jc Andrepont_Hube...|      0.78|United States|
| 28|Female|  Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|United States|
| 29|Female|    Cheri Kenney| Cloud|     281408|   53|Annika Hoffman_Me...|      0.53|United States|
| 29|Female|    Claude Panos| Cloud|     302130|   69|Sheryll Towler_Le...|      0.69|United States|
| 28|Female|     Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|United States|
| 28|  Male|   Kizzy Brenner|    DB|     381712|   46|Paris Hutton_Kena...|      0.46|United States|
| 28|  Male|Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|United States|
| 28|Female|   Kizzy Brenner| Cloud|     402409|   37|Ernest Rossbach_G...|      0.37|United States|
| 29|Female|  Somer Stoecker| Cloud|     442028|   44|Taryn Brownlee_Ta...|      0.44|United States|
| 29|  Male|    Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|United States|
| 29|  Male|     Billi Clore| Cloud|     512047|   86|Taryn Brownlee_Ju...|      0.86|United States|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [53]:
"""%sql SELECT * FROM tiny_df
where course=='DB' or course=='Cloud'
order by marks """

spark.sql("SELECT * FROM student_data where course=='DB' or course=='Cloud' order by marks").show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|             name|course|roll number|marks|               email|percentage| country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|United States|
| 29|  Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|United States|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|United States|
| 28|  Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|United States|
| 28|  Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|United States|
| 29|  Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|United States|
| 28|  Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|United States|
| 28|  Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|United States|
| 28|Female|     Cheri Kenney| Cloud|    2281771|   32|Tamera Blakley_Ab...|      0.32|United States|
| 28|Female|      Donna Yerby| Cloud|    4392575|   32|Leontine Phillips...|      0.32|United States|
| 28|  Male|      Anna Santos|    DB|    9772185|   32|Kizzy Brenner_Ann...|      0.32|United States|
| 28|Female|   Bonita Higuera| Cloud|    6061881|   33|Dustin Feagins_La...|      0.33|United States|
| 29|  Male|Leontine Phillips| Cloud|    8162392|   33|Clementina Menke_...|      0.33|United States|
| 29|Female|   Margene Moores| Cloud|    3232893|   34|Elenore Choy_Niki...|      0.34|United States|
| 28|  Male|   Alberta Freund| Cloud|    1802934|   34|Maybell Duguay_Pa...|      0.34|United States|
| 29|Female|      Niki Klimek|    DB|    1301784|   34|Celeste Lollis_Ta...|      0.34|United States|
| 28|Female|     Judie Chipps|    DB|    5872939|   34|Mitzi Seldon_Pari...|      0.34|United States|
| 28|  Male|   Bonita Higuera| Cloud|    1401526|   34|Jc Andrepont_Cher...|      0.34|United States|
| 28|Female|   Melani Engberg| Cloud|    7531661|   35|Gonzalo Ferebee_D...|      0.35|United States|
| 28|Female|      Abram Nagao|    DB|    2632057|   35|Margene Moores_So...|      0.35|United States|
+---+------+-----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [54]:
"""%sql SELECT * FROM tiny_df
where course=='DB' or course=='Cloud'
order by marks desc"""

spark.sql("SELECT * FROM student_data where course=='DB' or course=='Cloud' order by marks desc").show()

+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
|age|   sex|            name|course|roll number|marks|               email|percentage| country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
| 28|Female|  Melani Engberg| Cloud|    1872667|  109|Alberta Freund_Ni...|      1.09|United States|
| 29|  Male|  Alberta Freund|    DB|    1671638|  108|Clementina Menke_...|      1.08|United States|
| 29|  Male|  Melani Engberg|    DB|    2941257|  108|Claude Panos_Kena...|      1.08|United States|
| 29|Female|Lawanda Wohlwend| Cloud|    7222880|  108|Sheryll Towler_An...|      1.08|United States|
| 28|  Male|  Dustin Feagins|    DB|    8871049|  108|Jenna Montague_Cl...|      1.08|United States|
| 29|Female| Sebrina Maresca| Cloud|    3261159|  107|Maybell Duguay_Ja...|      1.07|United States|
| 28|  Male|    Jc Andrepont| Cloud|    5202136|  107|Jc Andrepont_Kena...|      1.07|United States|
| 29|  Male|  Jalisa Swenson|    DB|    6141407|  107|Ernest Rossbach_A...|      1.07|United States|
| 28|Female|  Jenna Montague| Cloud|    2402240|  106|Annika Hoffman_Du...|      1.06|United States|
| 28|  Male| Marylee Capasso|    DB|    1611411|  106|Annika Hoffman_Lo...|      1.06|United States|
| 29|Female| Ernest Rossbach|    DB|    9371629|  106|Melani Engberg_La...|      1.06|United States|
| 28|Female|    Eda Neathery| Cloud|    2071302|  105|Latia Vanhoose_Do...|      1.05|United States|
| 28|  Male|Clementina Menke| Cloud|    3352508|  105|Naoma Fritts_Mick...|      1.05|United States|
| 28|  Male|    Naoma Fritts|    DB|    6422790|  105|Sheryll Towler_Er...|      1.05|United States|
| 29|  Male|    Judie Chipps|    DB|    2112234|  104|Dustin Feagins_Ta...|      1.04|United States|
| 28|  Male|  Bonita Higuera| Cloud|    1312294|  104|Eda Neathery_Pris...|      1.04|United States|
| 29|Female| Hubert Oliveras| Cloud|    1392791|  104|Anna Santos_Alber...|      1.04|United States|
| 29|Female|    Claude Panos| Cloud|    5521752|  104|Sebrina Maresca_S...|      1.04|United States|
| 28|  Male|    Cheri Kenney| Cloud|    5641528|  104|Sebrina Maresca_L...|      1.04|United States|
| 28|  Male|     Anna Santos| Cloud|    8571411|  104|Jc Andrepont_Cord...|      1.04|United States|
+---+------+----------------+------+-----------+-----+--------------------+----------+-------------+
only showing top 20 rows

In [55]:
# %sql SELECT course  FROM tiny_df
spark.sql("SELECT course FROM student_data").show()

+------+
|course|
+------+
|    DB|
| Cloud|
|    PF|
|    DB|
|   DSA|
|   MVC|
|   OOP|
| Cloud|
|   MVC|
|   OOP|
|   DSA|
|    DB|
|    DB|
|   MVC|
|    PF|
|    DB|
|   MVC|
|   OOP|
|    PF|
|    DB|
+------+
only showing top 20 rows

In [56]:
"""%sql SELECT course  FROM tiny_df
GROUP BY course"""
spark.sql("SELECT course  FROM student_data GROUP BY course").show()

+------+
|course|
+------+
|    PF|
|    DB|
|   MVC|
|   DSA|
| Cloud|
|   OOP|
+------+

In [57]:
"""%sql SELECT course,count(course) FROM tiny_df
GROUP BY course """
spark.sql("SELECT course, count(course) FROM student_data GROUP BY course").show()

+------+-------------+
|course|count(course)|
+------+-------------+
|    PF|          166|
|    DB|          157|
|   MVC|          157|
|   DSA|          176|
| Cloud|          192|
|   OOP|          152|
+------+-------------+

In [58]:
"""%sql SELECT gender,avg(marks) FROM tiny_df
GROUP BY gender
ORDER BY gender;"""

spark.sql("SELECT sex,avg(marks) FROM student_data GROUP BY sex ORDER BY sex").show()

+------+-----------------+
|   sex|       avg(marks)|
+------+-----------------+
|Female|69.15369261477046|
|  Male| 71.0440881763527|
+------+-----------------+

In [59]:
"""%sql SELECT gender,max(marks) FROM tiny_df
GROUP BY gender
ORDER BY gender;"""

spark.sql("SELECT sex, max(marks) FROM student_data GROUP BY sex ORDER BY sex").show()

+------+----------+
|   sex|max(marks)|
+------+----------+
|Female|       109|
|  Male|       109|
+------+----------+

In [60]:
# %sql select count(name) from tiny_df
spark.sql("SELECT count(name) from student_data").show()

+-----------+
|count(name)|
+-----------+
|       1000|
+-----------+

In [61]:
"""%sql select count(name) from tiny_df
where marks>60"""
spark.sql("SELECT count(name) from student_data where marks>60").show()

+-----------+
|count(name)|
+-----------+
|        630|
+-----------+